*{
    margin:0;
    padding:0;
}

body{
     font-family: "Platypi", serif;
    font-optical-sizing: auto;
    background-image: url('wp4465114.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Keeps the image fixed while scrolling */

}

.navbar{
    background-color: blueviolet;
    width: 100%;
    height: 70px;
    color: white;
    padding:15px;
    text-align: 40px;
}

.navbar h1{
    margin-left: 30px;
    margin-top: 9px;
}

.navbar h4{
    margin-left: 30px;
    margin-top: 3px;
}

.container{
    padding: 15px;
    
}

.btn-container{
    background-color: #51808F;
    border-radius: 15px;
    color:white;
    width:25%;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
}

.btn-container button{
    background-color: blueviolet;
    color:white;
    margin-top: 10px;
    margin-left: 160px;
    width: 80px;
    height: 20px;
    border-radius: 10px;
}

.addbutton{
    border-radius: 100%;
    background-color: blueviolet;
    color:black;
    height: 100px;
    width: 100px;
    font-size: 40px;
    border:none;
    position:fixed;
    bottom: 30px;
    right:30px;
}

.overlay{
    background-color: black;
    opacity: 0.8;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    display: none;
    
}

.popup{
    background-color: blueviolet;
    width:40%;
    border-radius: 15px;
    padding: 40px;
    z-index: 2;
    height:30%;
    position: absolute;
    top:180px;
    left:30%;
    display: none;
    
}

.popup input{
    background: transparent;
    border: none;
    margin:5px;
    width:100%;
    border-bottom: solid black 3px;
    font-size: 20px;
}

.popup textarea{
    background: transparent;
    margin:5px;
    height:70px;
    width:100%;
    border: solid black 3px;
    font-size: 20px;
    margin-top: 10px;

}

.popup button{
    background-color: rgb(14, 212, 234);
    color:white;
    border-radius: 15px;
    font-size: 15px;
    height: 30px;
    width: 90px;
    margin-top: 5px;

}

.popup input::placeholder
{
    color: black;
}

.popup textarea::placeholder{
    color: black;
}

.popup input:focus{
    outline: none;
}

.popup textarea:focus{
    outline: none;
}

